URL_API=http://localhost:8080/api
URL_DMS=http://localhost:8080
URL_CDN=http://localhost:8080
URL_WEBSITE=http://127.0.0.1:3000

PATH_DEFAULT_MEDIA=/uploads/media/files/
PATH_DEFAULT_DOCUMENT=/uploads/document/files/
PATH_FORMAT_MEDIA=/media/cache/

VUE_APP_GOOGLE_MAPS_API_KEY=


DEMO_MODE=false
GOOGLE_ANALYTICS_ID=
